
:global {
  .ant-layout-header {
    height: 50px;
    line-height: 50px;
  }
  .ant-layout-content{
    padding: 0 18px;
  }
}

@media (max-width: 767px) {
  .bread {
    margin-bottom: 12px;
  }

  :global {
    .ant-layout-content {
      padding: 12px;
    }
  }
}


.container{
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  .content{
    overflow: 'initial';
  }
}



 

 
  
  
